.contact-control{
    border-radius: 5px;
    padding: 5px 10px;
}
.contact-control i{
    vertical-align:middle;
}
.contact-control:hover{
    background: blue;
}
.contact-control:hover i{
    color: white !important;
}

.mail-link:hover{text-decoration: underline;color:#2a56c6 !important;}