<div class="content column is-11">
 <table  class="contacts">
    <tbody>
    <tr (click)="showContact($event)">
        <td>
            <figure class="image is-48x48 hide-on-hover">
                <img src="http://bulma.io/images/placeholders/48x48.png">
            </figure>
            <div class="field show-on-hover user-check">
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox" (click)="$event.stopPropagation();selectContact($event)">
                    </label>
                </div>
            </div>
        </td>
        <td>Johnathan Wick</td>
        <td><a href="mailto:reachatwick@gmail.com">reachatwick@gmail.com</a></td>
        <td>+918088811222</td>
        <td>
            <a class="show-on-hover contact-control" routerLink="/edit">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            <a class="show-on-hover contact-control">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </a>
        </td>
    </tr>
    <tr (click)="showContact($event)">
        <td>
            <figure class="image is-48x48 hide-on-hover">
                <img src="http://bulma.io/images/placeholders/48x48.png">
            </figure>
            <div class="field show-on-hover user-check">
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox" (click)="$event.stopPropagation();selectContact($event)">
                    </label>
                </div>
            </div>
        </td>
        <td>Johnathan Wick</td>
        <td><a href="mailto:reachatwick@gmail.com">reachatwick@gmail.com</a></td>
        <td>+918088811222</td>
        <td>
            <a class="show-on-hover contact-control" routerLink="/edit">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            <a class="show-on-hover contact-control">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </a>
        </td>
    </tr>
    </tbody>
  </table>
 </div>
<a class="add-contact" routerLink="/edit">
    <i class="fa fa-user-plus fa-2x" aria-hidden="true"></i>
</a>