<div class="content column is-11">
 <table  class="contacts">
    <tbody>
    <tr (click)="showContact(contact.id,$event)" *ngFor="let contact of filteredContacts"
        [class.selected]="contact.selected">
        <td>
            <figure class="image is-48x48 hide-on-hover">
                <img src="{{contact.imageData}}">
            </figure>
            <div class="field show-on-hover user-check">
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox" (click)="$event.stopPropagation();selectContact(contact,$event)">
                    </label>
                </div>
            </div>
        </td>
        <td>{{contact.name}}</td>
        <td><a href="mailto:reachatwick@gmail.com">{{contact.email}}</a></td>
        <td>{{contact.phone}}</td>
        <td>
            <a class="show-on-hover contact-control" (click)="editContact(contact.id)">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            <a class="show-on-hover contact-control" (click)="$event.stopPropagation();deleteContact(contact.id)">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </a>
        </td>
    </tr>
    </tbody>
  </table>
 </div>
<a class="add-contact" routerLink="/edit">
    <i class="fa fa-user-plus fa-2x" aria-hidden="true"></i>
</a>