<div class="contact-container">
    <div class="header">
        <div class="header-item contact-img">
            <figure class="image is-128x128">
                <img src="http://bulma.io/images/placeholders/128x128.png">
            </figure>
        </div>
        <div class="header-item">
            <h2 class="title">Johnathan Wick</h2>
        </div>
        <div class="header-item">
            <a class="contact-control">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </a>
            <a class="contact-control" routerLink="/edit">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <div class="detail">
        <div class="detail-item">
            <div class="row">
                <div class="cell cell-icon">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                </div>
                <div class="cell">
                    reachatjohn@gmail.com
                </div>
            </div>
        </div>
        <div class="detail-item">
            <div class="row">
                <div class="cell cell-icon">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                </div>
                <div class="cell">
                    +919823429544
                </div>
            </div>
        </div>
        <div class="detail-item">
            <div class="row">
                <div class="cell cell-icon">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                </div>
                <div class="cell">
                    Family
                </div>
            </div>
        </div>
    </div>
</div>