.login-container{
    width: 20%;
    transform: translate(-50%,-50%);
    top: 50%;
    position: absolute;
    left: 50%;
}
.new-user-txt{
    vertical-align: bottom;
    display: inline-block;
    margin-right: 10px;
}
.control{
    width:100%;
}
.register{
    float:right;
}