<nav class="navbar">
  <div class="navbar-brand">
    <h3 class="navbar-item">Contacts</h3>
  </div>

  <div class="navbar-item nav-search">
    <input type="text" placeholder="Search"/>
  </div>



  <div class="navbar-end">
   
    <div class="navbar-item">
      <div class="field is-grouped">
      
        <p class="control">
          <a class="button is-blue" title="Logout">
              <span class="icon">
                <i class="fa fa-sign-out"></i>
              </span>
            </a>
        </p>
      </div>
    </div>
  </div>
</nav>